<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
</head>
<link rel="stylesheet" href="/css/style.css">
<body>
    <h1>Shoe catalogue API</h1>
    <p>Color:<input type="text" name="" value="" id="color"></p>
    <p>Brand:<input type="text" name="" value=""id="brand"></p>
    <p>Price:<input type="text" name="" value="" id="price"></p>
    <p>Size:<input type="text" name="" value="" id="size"></p>
    <p>in_stock:<input type="text" name="" value="" id="in_stock"></p>
    <button type="button" name="button">Add stock</button>
    <h2>shoe stock</h2>
    <table>
      <tr>
     <th>Company</th>
     <th>Contact</th>
     <th>Country</th>
   </tr>
   <tr>
     <td>Alfreds Futterkiste</td>
     <td>Maria Anders</td>
     <td>Germany</td>
   </tr>
 <tr>
    </table>
</body>
<script type="text/javascript/main.js"></script>
<script type="text/javascript/index"></script>
</html>
